<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ServerestSuite">
    <test name="API Tests">
        <classes>
            <!-- Prioridade de execução dos testes -->
            <class name="serverest.tests.UsuarioTest"/>
            <class name="serverest.tests.LoginTest"/>
            <class name="serverest.tests.ProdutoTest"/>
        </classes>
    </test>
</suite>